$bkground: hsl(233, 47%, 7%);
$card-bkground: hsl(244, 38%, 16%);
$accent: hsl(277, 64%, 61%);
$accent-2: hsl(277, 100%, 20%);
$white: hsl(0, 0%, 100%);
$white-2: hsla(0, 0%, 100%, 0.75);  //Main Paragraph Transparent white
$white-3: hsla(0, 0%, 100%, 0.6);  //Stats Heading


html, body {
    padding: 0px;
    margin: 0px;
}

span {
    color: $accent;
}

h1, h2, p {
    font-family: Inter;
}

h1 {
    font-size: 1.7em;
    
}

h2 {
    font-size: 1em;
}

.main-container {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    background-color: $bkground;
}

.card {
   display: flex;
   flex-flow: row wrap-reverse;
   min-width: 375px;
   color: $white;
   background-color: $card-bkground;
   border-radius: 10px;
   >div{
       width: 50%;
   }
}

.first {
    grid-area: maintext;
}

.second {
    grid-area: subtext;
    font-size: 0.7em;
    align-self: start;
    opacity: 0.5;
    line-height: 1.5em;
    padding-right: 2em;;
}

.third-a, .third-b, .third-c {
    line-height: 0.4em;
    align-self: end;
    p {
	font-family: Lexend Deca;
	font-size: 0.7em;
	font-variant: small-caps;
	font-weight: bold;
	opacity: 0.5;
    }
}

.third-a {
    grid-area: data-1;
}

.third-b {
    grid-area: data-2;
}

.third-c {
    grid-area: data-3;
}

.left-box {
    display: grid;
    justify-content: center;
    align-content: center;
    margin: 2em 3em;
    gap: 0px 0px;
    grid-template:
	[row1-start] "maintext maintext maintext" 1fr [row1-end]
	[row2-start] "subtext subtext subtext" auto [row2-end]
	[row4-start] "data-1 data-2 data-3" 80px [row4-end]
	/ 1fr 1fr 1fr;
}



.right-box {
    width: 40%;
    background-color: $accent-2;
    display: block;
    position: relative;
    border-radius: 0px 10px 10px 0px;

    img {
	display: block;
	position: absolute;
	top: 0px;
	opacity: 0.40;
	width: 100%;
	height: 100%;
	border-radius: 0px 10px 10px 0px;
    }

}

.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
